.container {
    max-width: 1200px;
    margin: auto;
}

.heading {
    display: flex;
    background-color: rgb(214, 165, 30);
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 700;
    margin: 0rem 1rem 0rem 1rem;
}

.coin-name {
    margin-left: -4rem;
}

.coin_input {
    background: #222531;
    font-size: 20px;
    border: none;
    padding: 16px;
    margin: 30px 10px 0 10px;
    border-radius: 4px;
    outline: none;
    height: 50px;
    width: 100%;
    color: #e2e2e2;
}

.coin_input::placeholder {
    color: #e2e2e2;
}

form{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    padding-right: 10px;
}

.arrow-icon{
    padding-top: 4px;
}

.pos{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    color: rgb(17, 180, 17);
    justify-content: right;
}

.neg{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    color: rgb(211, 26, 26);
    justify-content: right;
}

.add-width{
    width:140px;
}

.coin-row {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    border-bottom:2px solid white;
    margin: 0rem 1rem 0rem 1rem;
    padding: 1rem 1rem;
}

.coin-row:hover {
    background: #171718;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    justify-content: right;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }

    form{
        justify-content: center;
    }

    .pos{
        margin-right: 0px;
    }
    
    .neg{
        margin-right: 0px;
    }
}