.navbar {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    width: 1200px;
    max-width: 1200px;
}

.navbar-container > img {
    height: 70px;
}